<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="autor" content="aktishch">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="img/favicon/favicon.svg" />
  <link rel="shortcut icon" href="img/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="MyWebSite" />
  <link rel="manifest" href="img/favicon/site.webmanifest" />
  <title><%= data.title %></title>
</head>

<body>

  <main>

    <!-- Прелоадер -->

    <div class="preloader" data-preloader>
      <div class="preloader-squares">
        <div class="preloader-square"></div>
        <div class="preloader-square"></div>
        <div class="preloader-square"></div>
        <div class="preloader-square"></div>
      </div>
    </div>

    <!-- Шапка документа -->

    <header class="container fixed top-0 left-0 right-0 z-30 flex flex-wrap sm:flex-nowrap items-center gap-5 sm:gap-12 pt-3 pb-2 sm:pb-7 sm:pt-7 bg-white bg-opacity-0 duration-300 sm:-translate-y-0" data-header>
      <div class="flex items-center gap-5 w-full sm:w-auto pb-3 sm:pb-0 border-b border-solid border-grey/50 sm:border-none">
        <a class="font-semibold text-2.5xl sm:text-3xl" draggable="false" href="/">Keaty</a>
        <span class="w-px h-10 bg-grey/50 hidden sm:block"></span>
        <p class="text-sm sm:text-base font-normal opacity-60">
          Лучшие мастера <br> в одном приложении
        </p>
      </div>
      <div class="flex items-center gap-8 sm:gap-4">
        <% _.forEach((data.social), (item) => { %>
        <a class="btn btn-primary rounded-xl" data-waved="light" draggable="false" href="" target="_blank">
          <%= picture({src: item, format: 'svg', className: 'icon text-4xl', data: null}) %>
        </a>
        <% }) %>
      </div>
    </header>