<%
  var data = {
    title: 'Keaty',
    status: true
  }

  var icon = _.template(require('./components/icon.html').default)
  var picture = _.template(require('./components/picture.html').default)
  var loader = _.template(require('./components/loader.html').default)({icon})
  var header = _.template(require('./includes/header.html').default)({data, icon, picture})
  var footer = _.template(require('./includes/footer.html').default)({loader, picture})
%>

<%= header %>

<!-- Первоначальный блок -->

<% var primal = [
  {
    id: 'home',
    text: 'Главная'
  },
  {
    id: 'message',
    text: 'Сообщения'
  },
  {
    id: 'service',
    text: 'Услуги'
  },
  {
    id: 'bell',
    text: 'Уведомления'
  },
  {
    id: 'recording',
    text: 'Записи'
  }
] %>

<section class="container relative overflow-hidden pb-0">
  <div class="absolute inset-0 bg-second">
    <%= loader %>
    <%= picture({src: 'img/pictures/primal-bg', format: 'jpg', className: 'image', data: null}) %>
  </div>
  <div class="flex justify-between gap-10 relative">
    <div class="pt-10 w-full max-w-[535px]">
      <div class="flex flex-col items-center justify-center text-center">
        <div class="w-full max-w-28 mb-6 rounded-full border-2 border-solid border-primary h-10 flex items-center justify-center px-4 text-xl font-bold text-primary">Keaty</div>
        <h1 class="font-semibold text-5xl/tight mb-6">
          Keaty - <span class="text-grey animate-pulse">лучшие мастера</span> в одном приложении
        </h1>
        <p class="font-normal text-base/normal opacity-60 mb-12">
          Широкий каталог специалистов, оказывающих весь спектр бьюти-услуг
        </p>
        <div class="w-full max-w-80 rounded-3.5xl card border border-solid border-white bg-gradient-to-tl from-white/25 to-white/50 bg-transparent backdrop-blur-xl shadow">
          <div class="card-content items-center justify-center py-8 px-4">
            <p class="font-normal text-base/normal opacity-60 mb-6">
              Скачать приложение
            </p>
            <div class="flex items-center justify-center gap-6">
              <% _.forEach((['img/pictures/google-play', 'img/pictures/app-store', 'img/pictures/ru-store']), (item) => { %>
              <a class="btn btn-primary rounded-xl" data-waved="light" draggable="false" href="" target="_blank">
                <%= picture({src: item, format: 'svg', className: 'icon text-5xl', data: null}) %>
              </a>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative w-full max-w-[450px] -mb-52 pointer-events-none">
      <div class="absolute w-full max-w-28 -top-14 -left-12">
        <div class="card border border-solid border-white bg-gradient-to-tl from-white/70 to-white bg-transparent backdrop-blur-xl shadow rounded-2.5xl">
          <div class="card-content py-3 px-4"></div>
        </div>
      </div>
      <div class="relative">
        <%= loader %>
        <%= picture({src: 'img/pictures/telephone', format: 'png', className: 'block relative w-full', data: null}) %>
        <div class="absolute inset-5 bg-second bg-gradient-to-tl from-white/25 to-white/50 rounded-5xl">
          <div class="py-3 px-4 flex items-center justify-center flex-col border-b border-solid border-grey/50">
            <div class="w-full max-w-32 h-10 bg-black rounded-5xl mb-4"></div>
            <div class="flex items-center justify-between gap-4 w-full">
              <div class="size-10 rounded-full bg-second relative shrink-0 overflow-hidden">
                <%= loader %>
                <%= picture({src: 'img/pictures/test', format: 'jpg', className: 'image', data: null}) %>
              </div>
              <b class="text-xl">Keaty</b>
              <%= icon({id: 'search', className: 'icon text-2xl', data: null}) %>
            </div>
          </div>
          <div class="py-7 px-4">
            <h3 class="text-2xl font-bold mb-6">
              Привет, Александра!
            </h3>
            <p class="font-semibold text-base opacity-60 mb-4">
              У вас нет ни одной записи
            </p>
            <button class="btn btn-primary btn-fill btn-lg w-full mb-4" data-waved="light">
              <%= icon({id: 'recording', className: 'icon text-lg opacity-60 mr-2', data: null}) %>
              Добавить запись
            </button>
            <div class="card bg-white/70 overflow-visible -mx-4 rounded-2.5xl">
              <div class="card-content py-7 px-4">
                <h4 class="text-xl font-bold mb-5">
                  Популярные услуги
                </h4>
                <div class="flex gap-4 mb-8">
                  <% for (var i = 0; i < 4; i++) { %>
                  <div class="w-28 shrink-0 rounded-xl card shadow-md">
                    <div class="pack pack-lg bg-second">
                      <%= loader %>
                      <%= picture({src: 'img/pictures/test', format: 'jpg', className: 'image', data: null}) %>
                    </div>
                    <div class="card-content py-2 px-3">
                      <p class="text-center font-normal text-base truncate">
                        Косметология
                      </p>
                    </div>
                  </div>
                  <% } %>
                </div>
                <h4 class="text-xl font-bold mb-5">
                  Лучшие мастера в Краснодаре
                </h4>
                <div class="card rounded-2xl border-2 border-solid border-white bg-gradient-to-tl from-white/80 to-white bg-transparent backdrop-blur-xl shadow-md -left-20">
                  <div class="card-content flex-row items-center justify-between gap-2 px-4 py-3">
                    <% _.forEach((primal), (item, key) => { %>
                    <div class="flex flex-col items-center justify-center <%= key === 0 ? 'text-primary' : 'text-gray' %>">
                      <%= icon({id: item.id, className: 'icon text-1.5xl mb-2', data: null}) %>
                      <span class="text-center font-medium text-xs"><%= item.text %></span>
                    </div>
                    <% }) %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= footer %>